# Python compiled files
__pycache__/
*.pyc

# Virtual environment
airsim_env/

# Dataset files (usually large)
Datasets/*


# VSCode / IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db
m

# Python virtual env
venv/

.vs/

/Blocks